[submodule "0_SpringBoot_QuickStart"]
	path = 0_SpringBoot_QuickStart
	url = https://github.com/tituslhy/0_SpringBoot_QuickStart.git
[submodule "1_Spring_Core"]
	path = 1_Spring_Core
	url = https://github.com/tituslhy/1_Spring_Core.git
[submodule "2_Hibernate_JPA"]
	path = 2_Hibernate_JPA
	url = https://github.com/tituslhy/2_Hibernate_JPA.git
[submodule "3_Spring_CRUD"]
	path = 3_Spring_CRUD
	url = https://github.com/tituslhy/3_Spring_CRUD.git
[submodule "4_Spring_Hibernate_CRUD"]
	path = 4_Spring_Hibernate_CRUD
	url = https://github.com/tituslhy/4_Spring_Hibernate_CRUD.git
[submodule "5_Spring_Data_JPA_CRUD"]
	path = 5_Spring_Data_JPA_CRUD
	url = https://github.com/tituslhy/5_Spring_Data_JPA_CRUD.git
[submodule "6_Springboot_RESTAPI"]
	path = 6_Springboot_RESTAPI
	url = https://github.com/tituslhy/6_Springboot_RESTAPI.git
